@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap"); /*import para icono hamburguesa*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* STYLES NAVBAR */
.header {
  border-bottom: 1px solid #e2e8f0;
  background-color:  #f2f2f2;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: #101010; */
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}
/* 
.nav-item {
  margin-left: 5rem;
} */

.nav-link {
  /* font-size: 1.6rem; */
  font-size: 1.3rem; 
  /* color: #475569; */
  color: black;
  /* change */
}

.nav-link:hover {
  color: #482ff7;
}
.logo { 
  font-size: 1.5rem; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo-img{
  width: 3.5rem;
  border-radius: 50%;
}
 

/* 
.barra-alta {
  background-color: #f2f2f2;
  height: 5%;
  padding: 8px 4rem 8px 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; */

/* gap: 35%; */
/* } */
.menu li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.menu-principal {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
/* STYLES IMG HOME */

.container-home {
  position: relative;
  background-image: url(./images/imgHome.jpeg);
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5eada;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5; /* Opacidad de la imagen */
  background-repeat: no-repeat;
  background-size: cover;
}
.container-text-home {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.container-button-home {
  margin-top: 2rem;
}

.button-home {
  padding: 1rem 2rem;
  background-color: #01687b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
}

.button-home:hover {
  transform: scale(1.2);
}
/* SECCION QUIENES SOMOS */
.container-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  background-color: #d1cbc6;
}
.container-quienes-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
  gap: 2rem;
}
.title-quienes-somos {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.Secc2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

.SeccQS {
  max-width: 800px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  justify-content: start;
}

.card {
  align-items: flex-end;
  background-size: cover;
  border-radius: 0.75rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  margin: 0 10px;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  width: 80px;
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  align-items: center;
  background: #223;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  margin: 15px;
  width: 50px;
}

.card > .row > .description {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  transform: translateY(30px);
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  width: 520px;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("./images/imgHome.jpeg");
}

.card[for="c2"] {
  background-image: url("./images/imgHome.jpeg");
}

.card[for="c3"] {
  background-image: url("./images/imgHome.jpeg");
}

.card[for="c4"] {
  background-image: url("./images/imgHome.jpeg");
}

/* .container-planes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  margin: 2rem;
  padding: 2rem;
  background-color: #d1cbc6;
}
.plans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(85, 114, 122);
  color: white;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}
.titulo-plans {
  display: flex;
  justify-content: center;
} */

a {
  text-decoration: none;
  color: black;
}
.planes{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablaPlanes { 
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.planCard {
  background: linear-gradient(135deg, #023f4a 0%, #01687b 50%, #d1cbc6 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 15px 35px 35px rgba(0, 0, 0, 0.5),
    -15px -35px -35px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.planCard:hover {
  transform: translateY(-10px);
}

.planCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #00ffff, #a2ffff);
}

.planHeader {
  text-align: center;
  margin-bottom: 30px;
}

.planName {
  font-size: 24px;
  color: #ddd;
  margin-bottom: 10px;
  font-weight: 600;
}
.precio {
  font-size: 48px;
  font-weight: 700;
  color: #00a2ff;
  margin-bottom: 15px;
}

.precio span {
  font-size: 24px;
  color: #afb6c7;
}

.descripcion {
  list-style: none;
  margin-bottom: 40px;
}

.descripcion li {
  padding: 12px 0;
  color: #b0b0ba;
  color: #ccc;
  border-bottom: 1px solid #666;
  text-align: center;
}

.descripcion li:last-child {
  border-bottom: none;
}
.plan-button {
  display: block;
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #004cff, #00a2ff);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 600;
  transition: transform 0.3 ease;
}

.cta-button:hover {
  transform: scale(1.05);
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.footer {
  position: relative;
  width: 100%;
  background: #10182f;
  border-radius: 6px;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover {
  color: #fff;
}

/*responsive*/
@media only screen and (max-width: 1000px) {
   
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
   
  .nav-menu {
    z-index: 1;
    position: fixed; 
    left: -100%;
    min-width: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff; 
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    list-style-type: none;
    gap: 1rem;
  }

  .nav-link {
    color: black;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger { 
    display: block;
    cursor: pointer;
  }
  .hamburger span {
    background-color: #000;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* fin header */

  /* inicon modelos */
  .wrapper {
    display: none;
  }
  /* fin modelos */
  /* incion planes */
  .tablaPlanes {
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /* fin planes */
}
