@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap"); /*import para icono hamburguesa*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Estilos para el header */
.header {
  background-color: #025158; /* Color principal para el fondo del header */
  padding: 20px 0;
  color: #f3e9e7; /* Color claro para el texto */
}
 
/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos para el logo */
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-right: 10px;
}

h1 {
  font-size: 1.5rem;
  color: #f3e9e7; /* Color claro para el texto del logo */
  font-weight: bold;
  letter-spacing: 1px;
}

/* Estilos para el menú de navegación */
.nav-menu {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #b5d2d8; /* Color suave para los enlaces */
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover de los enlaces */
.nav-link:hover {
  color: #6599a4; /* Cambio de color al pasar el ratón */
}

/* Estilos para el ícono de hamburguesa (para móvil) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 30px;
  height: 4px;
  background-color: #f3e9e7;
  margin: 5px 0;
}

/* STYLES IMG HOME */

.container-home {
  position: relative;
  background-image: url(./images/imgHome.jpeg);
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5eada;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5; /* Opacidad de la imagen */
  background-repeat: no-repeat;
  background-size: cover;
}
.container-text-home {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.title {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.container-button-home {
  margin-top: 2rem;
}

.button-home {
  padding: 1rem 2rem;
  background-color: #01687b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8s;
}

.button-home:hover {
  transform: scale(1.2);
}
/* SECCION QUIENES SOMOS */
.container-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #f3e9e7;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  text-align: center;
}

.container-quienes-somos {
  margin-bottom: 1.5rem;
}

.secc2-subtitle {
  font-size: 2.2rem;
  color: #333;
  font-weight: 600;
}

.Secc2 {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.8;
  max-width: 90%;
  margin: 0 auto;
}

.SeccQS {
  padding: 0 15px;
}

.SeccQS a {
  color: #4caf50;
  text-decoration: none;
}

.SeccQS a:hover {
  text-decoration: underline;
}
.salto-linea {
  border: 0;
  height: 2px;
  background-color: #000000;
}
/* WRAPPER */
.wrapper {
  align-items: center;
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  height: 400px;
  justify-content: start;
}

.card {
  align-items: flex-end;
  background-size: cover;
  border-radius: 0.75rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  margin: 0 10px;
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  width: 80px;
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  align-items: center;
  background: #223;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  margin: 15px;
  width: 50px;
}

.card > .row > .description {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  transform: translateY(30px);
  transition: all 0.3s ease;
  transition-delay: 0.3s;
  width: 520px;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("./images/imgHome.jpeg");
}

.card[for="c2"] {
  background-image: url("./images/imgHome.jpeg");
}

.card[for="c3"] {
  background-image: url("./images/imgHome.jpeg");
}

.card[for="c4"] {
  background-image: url("./images/imgHome.jpeg");
}

a {
  text-decoration: none;
  color: black;
}
.planes {
  background-color: #0396a3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablaPlanes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.planCard {
  background: linear-gradient(135deg, #023f4a 0%, #01687b 50%, #d1cbc6 100%);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 15px 35px 35px rgba(0, 0, 0, 0.5),
    -15px -35px -35px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.planCard:hover {
  transform: translateY(-10px);
}

.planCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #00ffff, #a2ffff);
}

.planHeader {
  text-align: center;
  margin-bottom: 30px;
}

.planName {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 600;
}
.precio {
  font-size: 48px;
  font-weight: 700;
  color: #00a2ff;
  margin-bottom: 15px;
}

.precio span {
  font-size: 24px;
  color: #afb6c7;
}

.descripcion {
  list-style: none;
  margin-bottom: 40px;
}

.descripcion li {
  padding: 12px 0;
  color: #b0b0ba;
  color: #fff;
  border-bottom: 1px solid #666;
  text-align: center;
}

.descripcion li:last-child {
  border-bottom: none;
}
.plan-button {
  display: block;
  width: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #004cff, #00a2ff);
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  font-weight: 600;
  transition: transform 0.3 ease;
}

.cta-button:hover {
  transform: scale(1.05);
}

/* CONTACTO */

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1cbc6;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #d0d0cf;
  box-shadow: 10px 9px 40px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-height: 500px;
  margin-bottom: 10%;
  margin-top: 5%;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 150px;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.textarea-name-email {
  width: 100%;
  height: 1%;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  outline: none;
}

.contact-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #45a049;
}

#status-message {
  text-align: center;
  margin-top: 10px;
  color: #333;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
.footer {
  width: 100%;
  background-color: #025158;
  color: #f3e9e7;
  padding: 40px 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-col h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 15px;
  color: #f3e9e7;
}

.footer-col .links {
  list-style: none;
  padding: 0;
}

.footer-col .links li {
  margin-bottom: 12px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #b5d2d8;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-col .links li a:hover {
  color: #6599a4;
}

.footer-col .links li i {
  margin-right: 10px;
  color: #b5d2d8;
}

.footer-col .links li i:hover {
  color: #6599a4;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #b5d2d8;
}

.footer-col .icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.footer-col .icons i {
  color: #b5d2d8;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-col .icons i:hover {
  color: #6599a4;
}

.footer-col {
  flex: 1;
  min-width: 250px;
  text-align: left;
}

.footer-col a {
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.footer-col a:hover {
  color: #025158;
}

.footer-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col h4 {
  margin-bottom: 20px;
}

/*responsive*/
@media only screen and (max-width: 1000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .nav-menu {
    z-index: 1;
    position: fixed;
    left: -100%;
    min-width: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    list-style-type: none;
    gap: 1rem;
  }

  .nav-link {
    color: black;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px; 
    color: white;
    cursor: pointer;
  }
  .hamburger span {
    background-color: #000;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* fin header */

  /* inicon modelos */
  .wrapper {
    display: none;
  }
  /* fin modelos */
  /* incion planes */
  .tablaPlanes {
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /* fin planes */
}
